# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
src/api-wrapper/.gitignore
src/api-wrapper/.npmignore
src/api-wrapper/.openapi-generator-ignore
src/api-wrapper/package.json
src/api-wrapper/README.md
src/api-wrapper/tsconfig.esm.json
src/api-wrapper/tsconfig.json
src/api-wrapper/.openapi-generator/FILES
src/api-wrapper/.openapi-generator/VERSION
src/api-wrapper/src/index.ts
src/api-wrapper/src/runtime.ts
src/api-wrapper/src/apis/index.ts
src/api-wrapper/src/apis/OrgsApi.ts
src/api-wrapper/src/apis/UsersApi.ts
.nx/cache/8877685167471623554.commit
.nx/cache/file-map.json
.nx/cache/lockfile.hash
.nx/cache/nx_files.nxt
.nx/cache/parsed-lock-file.json
.nx/cache/project-graph.json
.nx/cache/run.json
.nx/cache/8877685167471623554/code
.nx/cache/8877685167471623554/source
.nx/cache/8877685167471623554/terminalOutput
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/app.module.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/app.module.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/app.module.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/main.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/main.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/main.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/tsconfig.build.tsbuildinfo
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/index.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/index.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/index.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/runtime.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/runtime.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/runtime.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/apis/DefaultApi.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/apis/DefaultApi.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/apis/DefaultApi.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/apis/index.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/apis/index.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/apis/index.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/apis/OrgsApi.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/apis/OrgsApi.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/apis/OrgsApi.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/apis/UsersApi.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/apis/UsersApi.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/api-wrapper/src/apis/UsersApi.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/auth/auth.guard.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/auth/auth.guard.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/auth/auth.guard.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/auth/jwt.strategy.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/auth/jwt.strategy.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/auth/jwt.strategy.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/files.controller.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/files.controller.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/files.controller.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/files.module.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/files.module.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/files.module.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/files.service.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/files.service.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/files.service.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/dto/create-file.dto.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/dto/create-file.dto.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/dto/create-file.dto.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/dto/update-file.dto.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/dto/update-file.dto.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/dto/update-file.dto.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/entities/file.entity.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/entities/file.entity.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/files/entities/file.entity.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/orgs.controller.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/orgs.controller.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/orgs.controller.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/orgs.module.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/orgs.module.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/orgs.module.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/orgs.service.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/orgs.service.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/orgs.service.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/dto/create-org.dto.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/dto/create-org.dto.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/dto/create-org.dto.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/dto/update-org.dto.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/dto/update-org.dto.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/dto/update-org.dto.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/entities/org.entity.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/entities/org.entity.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/orgs/entities/org.entity.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/users.controller.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/users.controller.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/users.controller.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/users.module.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/users.module.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/users.module.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/users.service.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/users.service.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/users.service.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/dto/create-user.dto.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/dto/create-user.dto.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/dto/create-user.dto.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/dto/update-user.dto.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/dto/update-user.dto.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/dto/update-user.dto.js.map
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/entities/user.entity.d.ts
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/entities/user.entity.js
.nx/cache/8877685167471623554/outputs/apps/nestjs-api-server/dist/users/entities/user.entity.js.map
.nx/cache/d/server-process.json
.nx/cache/terminalOutputs/8877685167471623554
apps/nestjs-api-server/dist/app.module.d.ts
apps/nestjs-api-server/dist/app.module.js
apps/nestjs-api-server/dist/app.module.js.map
apps/nestjs-api-server/dist/main.d.ts
apps/nestjs-api-server/dist/main.js
apps/nestjs-api-server/dist/main.js.map
apps/nestjs-api-server/dist/tsconfig.build.tsbuildinfo
apps/nestjs-api-server/dist/api-wrapper/src/index.d.ts
apps/nestjs-api-server/dist/api-wrapper/src/index.js
apps/nestjs-api-server/dist/api-wrapper/src/index.js.map
apps/nestjs-api-server/dist/api-wrapper/src/runtime.d.ts
apps/nestjs-api-server/dist/api-wrapper/src/runtime.js
apps/nestjs-api-server/dist/api-wrapper/src/runtime.js.map
apps/nestjs-api-server/dist/api-wrapper/src/apis/DefaultApi.d.ts
apps/nestjs-api-server/dist/api-wrapper/src/apis/DefaultApi.js
apps/nestjs-api-server/dist/api-wrapper/src/apis/DefaultApi.js.map
apps/nestjs-api-server/dist/api-wrapper/src/apis/index.d.ts
apps/nestjs-api-server/dist/api-wrapper/src/apis/index.js
apps/nestjs-api-server/dist/api-wrapper/src/apis/index.js.map
apps/nestjs-api-server/dist/api-wrapper/src/apis/OrgsApi.d.ts
apps/nestjs-api-server/dist/api-wrapper/src/apis/OrgsApi.js
apps/nestjs-api-server/dist/api-wrapper/src/apis/OrgsApi.js.map
apps/nestjs-api-server/dist/api-wrapper/src/apis/UsersApi.d.ts
apps/nestjs-api-server/dist/api-wrapper/src/apis/UsersApi.js
apps/nestjs-api-server/dist/api-wrapper/src/apis/UsersApi.js.map
apps/nestjs-api-server/dist/auth/auth.guard.d.ts
apps/nestjs-api-server/dist/auth/auth.guard.js
apps/nestjs-api-server/dist/auth/auth.guard.js.map
apps/nestjs-api-server/dist/auth/jwt.strategy.d.ts
apps/nestjs-api-server/dist/auth/jwt.strategy.js
apps/nestjs-api-server/dist/auth/jwt.strategy.js.map
apps/nestjs-api-server/dist/files/files.controller.d.ts
apps/nestjs-api-server/dist/files/files.controller.js
apps/nestjs-api-server/dist/files/files.controller.js.map
apps/nestjs-api-server/dist/files/files.module.d.ts
apps/nestjs-api-server/dist/files/files.module.js
apps/nestjs-api-server/dist/files/files.module.js.map
apps/nestjs-api-server/dist/files/files.service.d.ts
apps/nestjs-api-server/dist/files/files.service.js
apps/nestjs-api-server/dist/files/files.service.js.map
apps/nestjs-api-server/dist/files/dto/create-file.dto.d.ts
apps/nestjs-api-server/dist/files/dto/create-file.dto.js
apps/nestjs-api-server/dist/files/dto/create-file.dto.js.map
apps/nestjs-api-server/dist/files/dto/update-file.dto.d.ts
apps/nestjs-api-server/dist/files/dto/update-file.dto.js
apps/nestjs-api-server/dist/files/dto/update-file.dto.js.map
apps/nestjs-api-server/dist/files/entities/file.entity.d.ts
apps/nestjs-api-server/dist/files/entities/file.entity.js
apps/nestjs-api-server/dist/files/entities/file.entity.js.map
apps/nestjs-api-server/dist/orgs/orgs.controller.d.ts
apps/nestjs-api-server/dist/orgs/orgs.controller.js
apps/nestjs-api-server/dist/orgs/orgs.controller.js.map
apps/nestjs-api-server/dist/orgs/orgs.module.d.ts
apps/nestjs-api-server/dist/orgs/orgs.module.js
apps/nestjs-api-server/dist/orgs/orgs.module.js.map
apps/nestjs-api-server/dist/orgs/orgs.service.d.ts
apps/nestjs-api-server/dist/orgs/orgs.service.js
apps/nestjs-api-server/dist/orgs/orgs.service.js.map
apps/nestjs-api-server/dist/orgs/dto/create-org.dto.d.ts
apps/nestjs-api-server/dist/orgs/dto/create-org.dto.js
apps/nestjs-api-server/dist/orgs/dto/create-org.dto.js.map
apps/nestjs-api-server/dist/orgs/dto/update-org.dto.d.ts
apps/nestjs-api-server/dist/orgs/dto/update-org.dto.js
apps/nestjs-api-server/dist/orgs/dto/update-org.dto.js.map
apps/nestjs-api-server/dist/orgs/entities/org.entity.d.ts
apps/nestjs-api-server/dist/orgs/entities/org.entity.js
apps/nestjs-api-server/dist/orgs/entities/org.entity.js.map
apps/nestjs-api-server/dist/users/users.controller.d.ts
apps/nestjs-api-server/dist/users/users.controller.js
apps/nestjs-api-server/dist/users/users.controller.js.map
apps/nestjs-api-server/dist/users/users.module.d.ts
apps/nestjs-api-server/dist/users/users.module.js
apps/nestjs-api-server/dist/users/users.module.js.map
apps/nestjs-api-server/dist/users/users.service.d.ts
apps/nestjs-api-server/dist/users/users.service.js
apps/nestjs-api-server/dist/users/users.service.js.map
apps/nestjs-api-server/dist/users/dto/create-user.dto.d.ts
apps/nestjs-api-server/dist/users/dto/create-user.dto.js
apps/nestjs-api-server/dist/users/dto/create-user.dto.js.map
apps/nestjs-api-server/dist/users/dto/update-user.dto.d.ts
apps/nestjs-api-server/dist/users/dto/update-user.dto.js
apps/nestjs-api-server/dist/users/dto/update-user.dto.js.map
apps/nestjs-api-server/dist/users/entities/user.entity.d.ts
apps/nestjs-api-server/dist/users/entities/user.entity.js
apps/nestjs-api-server/dist/users/entities/user.entity.js.map
apps/nestjs-api-server/src/api-wrapper/.gitignore
apps/nestjs-api-server/src/api-wrapper/.npmignore
apps/nestjs-api-server/src/api-wrapper/.openapi-generator-ignore
apps/nestjs-api-server/src/api-wrapper/package.json
apps/nestjs-api-server/src/api-wrapper/README.md
apps/nestjs-api-server/src/api-wrapper/tsconfig.esm.json
apps/nestjs-api-server/src/api-wrapper/tsconfig.json
apps/nestjs-api-server/src/api-wrapper/.openapi-generator/FILES
apps/nestjs-api-server/src/api-wrapper/.openapi-generator/VERSION
apps/nestjs-api-server/src/api-wrapper/src/index.ts
apps/nestjs-api-server/src/api-wrapper/src/runtime.ts
apps/nestjs-api-server/src/api-wrapper/src/apis/DefaultApi.ts
apps/nestjs-api-server/src/api-wrapper/src/apis/index.ts
apps/nestjs-api-server/src/api-wrapper/src/apis/OrgsApi.ts
apps/nestjs-api-server/src/api-wrapper/src/apis/UsersApi.ts
